@use 'variables';
@use 'mixins';
.navegacion{
    @include mixins.navegacion(variables.$soft_gray,variables.$dark_red_rb);
      p{
        margin-left: 25px;
        font-size: 60px;
        font-family: 'Caveat', cursive;
      }
      a{
        text-decoration: none;
        color: variables.$soft_gray;
        &:hover{ 
        @include mixins.navegacion-a-hover(variables.$soft_gray_rb);
      }
    }
      label{
        display: none;
        cursor: pointer;
            @media (max-width: 1090px){
                display: block;
        }
      }
      input{
        display: none;
      }
  }
  .first_menu{
    list-style: none;
    width: 700px;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    margin-right: 25px;
    font-family: 'Oswald', sans-serif;
    @media (max-width: 1090px){
            @include mixins.first_menu-mediaquerie(variables.$dark_red_rb)
          }
    }
  .menu_genres{
    position: relative;
    &:hover > .dropdown_menu{
      display: block;
    }
    @media (max-width: 1090px){
        margin-bottom: 50px;
    }
  }
  .dropdown_menu{
    display: none;
    position: absolute;
    z-index: 5;
    & > li{
      @include mixins.dropdown_menu-mayor-a-li(variables.$clear_gray,variables.$dark_red_rb);
      @media (max-width: 1090px){
        width: 200px;
        transform: translateX(-40px);
      }
    }
  }
  nav i{
    color: white;
    font-size: 50px;
  }
  @media (max-width: 1090px){
    .home{
        margin-top: -120px;
      }
    .input_navegacion:checked + .first_menu{
        clip-path: circle(141.2% at 100% 0);
        transition: .5s;
    }
  }