$black:rgb(0, 0, 0);
$dark_yellow: rgb(186, 160, 53);
$dark_mostaza: rgb(184, 158, 113);
$Brown: rgb(109, 66, 45);
$soft_gray: rgb(241, 241, 241);
$blue: rgb(22, 111, 229);
$pink: rgb(224, 0, 168);
$skyblue: rgb(28, 147, 228);
$green: rgb(31, 223, 100);
$soft_black: rgb(36, 37, 42);

// -----------variables 2----------
$red: rgb(235, 36, 28);
$cream: rgb(252, 188, 148);
$dark_red: rgb(136, 10, 5);
$dark_cream: rgb(171, 123, 123);
$medium_cream: rgb(206, 161, 160);
$dark_gray: rgb(36, 44, 60);
// ---------------variables electronic-------
$dark_violet: rgb(39, 22, 40);
$medium_violet: rgb(84, 31, 59);
$soft_violet: rgb(190, 68, 131);
$medium_blue: rgb(59, 61, 110);
$dark_blue: rgb(49, 37, 86);
$soft_fuccia: rgb(196, 63, 240) ;
$fuccia: rgb(157, 72, 220);
$soft_blue: rgb(140, 149, 245);
// --------------variables rb---------
$clear_gray: rgb(241, 241, 241);
$dark_violet: rgb(38, 31, 38);
$dark_red_rb: rgb(40, 20, 24);
$dark_orange: rgb(109, 58, 43);
$soft_gray_rb: rgb(139, 145, 143);
$gray:rgb(100, 115, 122);
// --------------variables soundtrack---------
$black2:rgb(3, 7, 18);
$clean_green_blue: rgb(228, 248, 210);
$soft_green_blue: rgb(202, 246, 211);
$medium_green_blue: rgb(129, 174, 167);
$dark_green_blue: rgb(80, 127, 133);
$verydark_green_blue: rgb(46, 79, 86);
$dark_blue_soundtrack: rgb(1, 21, 58);
$blue_sountrack: rgb(0, 79, 128);